@model IEnumerable<TheWorld.Models.Trip>
@{
    ViewBag.Title = "Home Page";
}
<div class="row">
    <div class="col-md-6 col-xs-8">
        <h1>The World</h1>
        <p>This will be a fun website soon!</p>

        <form>
            <div class="form-group">
                <label class="">Date</label>
                <input class="form-control" />
            </div>
            <div class="form-group">
                <label class="">Location</label>
                <input class="form-control" />
            </div>
            <div class="form-group">
                <input type="submit" value="Add" class="btn btn-success" />
            </div>
        </form>
    </div>

    <div class="col-md-6 col-xs-4">
        <h1>The Map</h1>
        <ul>
            @foreach (var trip in Model)
            {
                <li>@trip.Name (@trip.Created.ToShortDateString())</li>
            }
        </ul>
    </div>
</div>